<%- include('./includes/head.ejs') %>
</head>

<body>
        <%- include('./includes/nav.ejs') %>
        <main>
            
                <% if (build.length > 0) { %>
                <div class="grid">
                    <div class="box">
                    <% for (let pc of build) { %>
                        
                    <article class="card product-item">
                            <a class="delete is-pulled-right is-danger" href="/build/delete/<%=pc.buildID%>"></a>
                        <header class="card__header">
                            <h1 class="title"><%= pc.name %></h1>
                            
                        </header>
                        
                        <div class="card__image">
                                <h2><%= pc.cpuName %></h2>
                        </div>
                        <div class="card__content">
                            <h2><%= pc.moboName %></h2>
                            <p> <%= pc.gpuName %>
                            </p>
                            <p> <%= pc.memoryName %>
                            </p>
                        </div>
                        <div class="field is-grouped">
                                <a class="button is-info is-small is is-outlined" href="/build/edit/<%=pc.buildID%>">
                                    Update
                                </a>
                                
                        </div>
                    </article>
                    
                    <% } %>
                    
                    </div>
                    
                </div>
                <% } else { %>
        
                <h1>No PC Builds Found!</h1>
                <% } %>
            
            </main>

</body>
</html>